body{
  background-image: url('assets/background.jpg');
  background-size: cover;
  font-family: "BuWicked";
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  overflow: hidden;
 }

:root {
  cursor: url("./assets/img/GlowSuminoze/Yellow/cursor.png"), auto;
}
.day {
  background-color: transparent;
  cursor: url("./assets/img/GlowSuminoze/Yellow/cursor.png"), auto;
  width: 150px;
  height: 150px;
  opacity: 1;
  padding: 20px;
  border-radius: 75px;
  border: none;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.7);
  transition: background-color 0.3s ease-in-out;
  margin: 20px;
  font-family: "BuWicked";
  position: absolute;
  top: 250px;
  z-index: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "BuWicked";
  font-size: 50px;
  font-weight: bold ;
  color: #ff9900;
  color: #fff;
  text-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 32px rgb(252, 172, 1),
    0 0 67px rgb(252, 172, 1),
    0 0 90px rgb(252, 172, 1);

}


.day-image {
  position: absolute;
  width: 150px;
  height: auto;
  top: 50%;
  left: 50%;
  border-radius: 75px;
  transform: translate(-50%, -50%);
  display: none;
  /* Masque l'image initialement */
  z-index: 1;
}

.day:hover .day-image {
  cursor: url("./assets/img/GlowSuminoze/Yellow/cursor.png"), auto;
  display: block;
  /* Fait apparaître l'image au survol */
}

@font-face {
  font-family: "BuWicked";
  src: url("./assets/typo/BuWicked-2dOW.ttf");
}

h1 {
  text-align: center;
  color: #ff9900;
  /* Couleur du texte en surbrillance */

  color: #fff;
  text-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 32px rgb(252, 172, 1),
    0 0 67px rgb(252, 172, 1),
    0 0 90px rgb(252, 172, 1);
  /*text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);/* Ombre portée pour le texte */
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  font-weight: bold;
}
