:root{
  background-image: url('assets/background.jpg'); /* Ajoutez le chemin de votre image de fond */
  font-family: "BuWicked";
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
}
#MyCover{
width: 100%;
height: 100%;
object-fit: cover;

}

@font-face {
  font-family:"BuWicked";
  src: url("./assets/typo/BuWicked-2dOW.ttf");
}

h1 {
  text-align: center;
  color: #ff9900; /* Couleur du texte en surbrillance */

  color: #fff;
  text-shadow:  0 0 7px #fff, 
           0 0 10px #fff, 
           0 0 32px rgb(252, 172, 1),   
           0 0 67px rgb(252, 172, 1), 
           0 0 90px rgb(252, 172, 1); 
  /*text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);/* Ombre portée pour le texte */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bold;
}

